 .u-section-1 {
  margin-top: 20px;
}

.u-section-1 .u-sheet-1 {
  min-height: 106px;
}

.u-section-1 .u-text-1 {
  margin: 41px auto 30px;
}.u-section-2 .u-sheet-1 {
  min-height: 92px;
}

.u-section-2 .u-group-1 {
  width: 637px;
  min-height: 26px;
  margin: 33px auto;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  font-weight: 700;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  border-style: none none solid;
  font-weight: 700;
  margin: -26px 0 0 auto;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  border-style: none none solid;
  font-weight: 700;
  margin: -26px 122px 0 auto;
  padding: 0;
}

.u-section-2 .u-btn-4 {
  border-style: none none solid;
  font-weight: 700;
  margin: -26px 244px 0 auto;
  padding: 0;
}

.u-section-2 .u-btn-5 {
  border-style: none none solid;
  font-weight: 700;
  margin: -26px auto 0 165px;
  padding: 0;
}

.u-section-2 .u-btn-6 {
  border-style: none none solid;
  font-weight: 700;
  margin: -26px auto 0 72px;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
    min-height: 164px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 138px;
    margin-left: 68px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -164px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 147px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 68px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: 20px;
    margin-left: 68px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 130px;
  }

  .u-section-2 .u-group-1 {
    min-height: 116px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -26px;
    margin-right: 8px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 14px;
    margin-right: 8px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 12px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-5 {
    margin-top: -64px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-top: 12px;
    margin-left: 0;
  }
} .u-section-3 {
  background-image: url("images/nicepagefor.png");
  min-height: 336px;
  background-position: 50% 50%;
}.u-section-4 .u-sheet-1 {
  min-height: 82px;
}

.u-section-4 .u-group-1 {
  width: 436px;
  min-height: 40px;
  margin: 21px 299px 21px auto;
}

.u-section-4 .u-text-1 {
  text-align: center;
  margin: 8px auto 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  text-align: center;
  margin: -33px 0 0 auto;
  padding: 8px 33px;
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 68px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: -68px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 114px;
  }

  .u-section-4 .u-group-1 {
    min-height: 105px;
    margin-top: 9px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 8px;
    margin-right: auto;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1120px;
}

.u-section-5 .u-list-1 {
  margin-bottom: 0;
  margin-top: 63px;
}

.u-section-5 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 275px;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px;
}

.u-section-5 .u-icon-1 {
  width: 96px;
  height: 96px;
  margin: 0 auto;
}

.u-section-5 .u-text-1 {
  background-image: none;
  margin: 30px auto 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px;
}

.u-section-5 .u-icon-2 {
  width: 96px;
  height: 96px;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  background-image: none;
  margin: 30px auto 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px;
}

.u-section-5 .u-icon-3 {
  width: 96px;
  height: 96px;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  background-image: none;
  margin: 30px auto 0;
}

.u-section-5 .u-text-4 {
  margin: 102px auto 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-5 .u-list-2 {
  margin: 212px auto 60px -12px;
}

.u-section-5 .u-repeater-2 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 300px;
}

.u-section-5 .u-container-layout-4 {
  padding: 10px;
}

.u-section-5 .u-image-1 {
  width: 141px;
  height: 125px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-6 {
  margin: -112px auto 0 161px;
}

.u-section-5 .u-text-7 {
  margin-left: 161px;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 10px;
}

.u-section-5 .u-image-2 {
  width: 141px;
  height: 125px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-8 {
  margin: -112px auto 0 161px;
}

.u-section-5 .u-text-9 {
  margin-left: 161px;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-6 {
  padding: 10px;
}

.u-section-5 .u-image-3 {
  width: 141px;
  height: 125px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-10 {
  margin: -112px auto 0 161px;
}

.u-section-5 .u-text-11 {
  margin-left: 161px;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-7 {
  padding: 10px;
}

.u-section-5 .u-image-4 {
  width: 141px;
  height: 125px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-12 {
  margin: -112px auto 0 161px;
}

.u-section-5 .u-text-13 {
  margin-left: 161px;
  margin-right: auto;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    min-height: 227px;
  }

  .u-section-5 .u-icon-1 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-5 .u-icon-2 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-5 .u-icon-3 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-5 .u-list-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-2 {
    min-height: 245px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 522px;
  }

  .u-section-5 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    margin-left: auto;
  }

  .u-section-5 .u-text-6 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
  }

  .u-section-5 .u-image-2 {
    margin-left: auto;
  }

  .u-section-5 .u-text-8 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-5 .u-text-9 {
    margin-left: 0;
  }

  .u-section-5 .u-image-3 {
    margin-left: auto;
  }

  .u-section-5 .u-text-10 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-5 .u-text-11 {
    margin-left: 0;
  }

  .u-section-5 .u-image-4 {
    margin-left: auto;
  }

  .u-section-5 .u-text-12 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-5 .u-text-13 {
    margin-left: 0;
  }
} .u-section-6 {
  background-image: linear-gradient(#79b6ee, #478ac9);
}

.u-section-6 .u-sheet-1 {
  min-height: 159px;
}

.u-section-6 .u-text-1 {
  margin: 66px auto 0 285px;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -34px auto 0 707px;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 168px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 70px;
    margin-left: 203px;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 183px;
    margin-bottom: 60px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 172px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 72px;
    margin-left: auto;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 18px;
    margin-right: auto;
    margin-left: 266px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 180px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 36px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 26px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 166px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 26px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 11px;
    margin-bottom: 33px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 500px;
}

.u-section-7 .u-list-1 {
  width: 570px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 500px;
}

.u-section-7 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-7 .u-text-1 {
  margin: 0 87px 0 10px;
}

.u-section-7 .u-text-2 {
  margin: 20px 0 0 10px;
}

.u-section-7 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-7 .u-text-3 {
  margin: 0 87px 0 10px;
}

.u-section-7 .u-text-4 {
  margin: 20px 0 0 10px;
}

.u-section-7 .u-group-1 {
  width: 570px;
  min-height: 366px;
  height: auto;
  margin: -490px 0 124px auto;
}

.u-section-7 .u-text-5 {
  text-align: start;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-7 .u-form-1 {
  height: 338px;
  margin-top: 0;
  text-align: start;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-7 .u-form-group-1 {
  width: 100%;
}

.u-section-7 .u-form-group-2 {
  width: 100%;
}

.u-section-7 .u-form-group-3 {
  width: 100%;
}

.u-section-7 .u-form-group-4 {
  width: 100%;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-7 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 412px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 10px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 10px;
  }

  .u-section-7 .u-group-1 {
    height: auto;
    margin: 20px auto 0 0;
  }

  .u-section-7 .u-form-1 {
    width: 940px;
    margin-right: -370px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-text-1 {
    width: auto;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-group-1 {
    width: 540px;
  }

  .u-section-7 .u-form-1 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-2 {
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-7 .u-group-1 {
    width: 340px;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-right: auto;
    margin-left: 10px;
  }

  .u-section-7 .u-form-1 {
    width: 340px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 138px;
}